/* Selector de ID */
#tituloPrincipal{
    color:#7708b0;
    font-size: 50px;
}

.parrafoNegrita{
    font-weight: bold;
    color: darkgreen;
}
.parrafoEspecial{
    font-family: Comic Sans MS;
    
}   

.prioridad1{
    color: red;
 
}

.prioridad2{
    color: purple;
}

p {
    word-spacing: 5px;
}